<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#151F8C">

<!-- SEO -->
<meta name="title" content="{{ page.title }} | LazyTourist">

<!-- STYLESHEETS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css" />

<!-- FAVICON -->
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon/favicon.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/img/favicons/favicon-16x16.png">